.header{
	height: 450px;
	width: 100%;
	position: relative;
	background: rgb(62,57,107);
	
}
.header__navbar{
	width: 100%;
	height: 100px;
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	align-items: center;
	

}
.header__texture{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background: url(../../../assets/image1.jpg) center no-repeat;
	background-size: cover;
	z-index: 1;
	opacity: 0,6;
    
}
.header__navbar__title{
	height: 200px;
    width: 390px;
    padding-right: 170px;
    padding-top: 33px;
    opacity: 113%;
    cursor: pointer;
   

}
.header__navbar__title:hover{
  opacity: 40%;
  color: #fff;
}

.header__navbar__menu__link{
	text-decoration: none;
	color: white;
	margin-left: 40px;

}

.header__navbar__menu__link:hover{
	color: bisque;
}
ul.timeline {
    list-style-type: none;
    position: relative;
    padding-left: 1.5rem;
}

 /* Timeline vertical line */
ul.timeline:before {
    content: ' ';
    background: #fff;
    display: inline-block;
    position: absolute;
    left: 16px;
    width: 4px;
    height: 100%;
    z-index: 400;
    border-radius: 1rem;
}

li.timeline-item {
    margin: 20px 0;
}
.timeline-arrow {
    border-top: 0.5rem solid transparent;
    border-right: 0.5rem solid #fff;
    border-bottom: 0.5rem solid transparent;
    display: block;
    position: absolute;
    left: 2rem;
}

/* Timeline item circle marker */
li.timeline-item::before {
    content: ' ';
    background: #ddd;
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    border: 3px solid #fff;
    left: 11px;
    width: 14px;
    height: 14px;
    z-index: 400;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}
#time .container h1{
	margin-left: 28%;
	padding: 20px;
}
#time .container{
	padding: 10px;
}




